<!-- <p>forget-password works!</p> -->
<div class="forgot-password-container">
  <h1>Forgot Password</h1>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="email">Email</label>
      <input
        formControlName="email"
        type="text"
        id="email"
        placeholder="Enter your email"
      />
      <div *ngIf="form.get('email')?.invalid && form.get('email')?.touched">
        <small class="error-color">Email is required.</small>
      </div>
    </div>
    <button type="submit" class="btn-primary" [disabled]="form.invalid">
      Reset Password
    </button>
  </form>
</div>
